/* div { 
	color : rgb(250, 0, 0);
	background-color: brown;
} */

button {
	border : none;
	border-radius: 50px;

}

div {
	border : solid red 4px;
}
span {
	border : dashed blue 4px;
	border-radius: 50px;
}
input {
	border : dashed skyblue 4px;
	border-radius: 50px;
	outline : none;  /* 클릭했을 때 생기는 검은선*/
}