button:hover {
	border : solid red 5px; 
	background-color: orange; color : white;
}

*:focus {
	border : solid green 5px;
}

div:after {
	background-color: red; 
	content : '내용'; display : block;
}
div:before {
	content : '* ' /* 리스트 처럼 보이게 효과를 줄 수 있다*/ 
}